body{
  background-color: #2196f3;
}

.slogan{
  font-style: italic !important;
}

.container {
    background-image: url('../media/blue-landscape.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom;
    padding: 0;
}

.columna-encabezado{
  /*border: 1px solid black;*/
  min-height: 10rem !important;
}

.columna-subnavbar{
  /*border: 1px solid black;*/
  min-height: 5rem !important;
}

.columna-contenido{
    border: 1px solid black;
    min-height: 40rem !important;
}

.columna-footer{
  border: 1px solid black;
  min-height: 30rem !important;
}

.columna-social{
  border: 1px solid black;
  height: 4rem;
}

.col1foto{
  border: 1px solid black;
  height: 19.4rem;
  padding: 0;
  margin: 0;
}

.col2foto{
  border: 1px solid black;
  height: 39.8rem;
}

.col3-1foto{
  border: 1px solid black;
  height: 24rem;
}

.col3-2foto{
  border: 1px solid black;
  height: 14rem;
}

.colentradas{
  border: 1px solid black;
  height: 20rem;
}

.colform{
  border: 1px solid black;
  height: 10rem;
}
