.columna-encabezado{
  border: 1px solid black;
  min-height: 10rem !important;
}

.columna-subnavbar{
  border: 1px solid black;
  min-height: 5rem !important;
}
/*.encabezado{
  min-height: 10em !important;

}
.logo{
  max-height: 8rem;
}

.btn-encabezado{
  margin: 0.5rem;
}*/
