body{
  background-color: #2196f3;
}


.container {
    background-image: url('../media/blue-landscape.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom;
}

.columna-encabezado{
  border: 1px solid black;
  min-height: 10rem !important;
}

.columna-subnavbar{
  border: 1px solid black;
  min-height: 5rem !important;
}

.columna-contenido{
    border: 1px solid black;
    min-height: 40rem !important;
}

.columna-footer{
  border: 1px solid black;
  min-height: 30rem !important;
}

.columna-social{
  border: 1px solid black;
  height: 4rem;
}
